body {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   color: #333;
}

a {
   text-decoration: none;
   color: #786B3D;
}

header {
   background-color: #786B3D;
   color: #ECE9E4;
   height: 250px;
}

header a {
   color: #ECE9E4;
}

header div {
   position: relative;
   max-width: 1170px;/*>768:750, >992:970, >1200:1170*/
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

header .header {
   display: inline-block;
}

header .header h1 {
   font-size: 36px;
   letter-spacing: 1px;
   font-weight: 500;
   margin-top: 20px;
   margin-bottom: 0;
}

header .header h2 {
   text-align: center;
   font-size: 14px;
   letter-spacing: 2px;
   font-weight: 500;
   line-height: 1.1;
   margin-bottom: 0;
}

header .top_nav {
   height: 60px;
   font-size: 18px;
   line-height: 20px;
   display: flex;
   justify-content: space-between;
}

.top_nav .home {
   width: 200px;
   padding-top: 30px;
}

.top_nav .main_nav {
   align-self: center;
   background-color: #FFE68C;
   border-radius: 30px;
}

.main_nav a figure {
   margin: 0 5px;
   position: relative;
   align-items: center;
   display: flex;
   border-radius: 30px;
   background-color: #FFE68C;
}

.top_nav a.hamburger figure {
   display: none;
}

.top_nav img {
   width: 40px;
   height: 30px;
   padding: 10px;
}

img.after_img {
   display: none;
}

.home img {
   display: none;
}

.main_nav figcaption {
   color: black;
   font-weight: 600;
   padding-right: 5px;
}

.hamburger figure {
   padding: 10px;
   justify-content: center;
   font-size: 30px;
}

.main_nav a.hamburger figure {
   display: none;
}

.top_nav figure:hover {
   
   /* transition: all 0.25s linear;
   transform: scale(0.9) translateY(-5px); */
   
}

.top_nav figure:hover figcaption {
   transition: all 1s linear;
}

nav.main_nav {
   display: flex;
   justify-content: space-around;
}

main {
   background-color: #FFFDF1;
   padding-left: 15px;
   padding-right: 15px;
}

.main {
   background-color: white;
   box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
   position: relative;
   top: -110px;
   border-radius: 4px;
   padding-bottom: 15px;
   max-width: 1170px;/*>768:750, >992:970, >1200:1170*/
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   display: grid;
   grid-template-columns: 5fr 2fr;
   grid-gap: 1em;
}

.main h1 {
   font-size: 32px;
   border-bottom: 3px solid #786B3D;
   margin: 20px 0 1.5em 0;
   padding: 0;
   line-height: 1.25em;
   font-weight: 500;
   position: relative;
}

.main h1 span {
   background: url(images/border_theme_left.png) bottom left no-repeat, url(images/border_theme_right.png) bottom right no-repeat, url(images/border_theme_center.png) bottom left repeat-x;
   display: inline-block;
   line-height: 1.25em;
   height: calc(1.25em + 8px);
   margin-bottom: -8px;
   padding-right: 3px;
}

.main h2, h3, h4 {
   margin-top: 20px;
   margin-bottom: 10px;
}

.main h2 div {
   width: 10px;
   height: 40px;
   position: absolute;
   left: -20px;
   top: 0;
   background: url(images/h1IndentLeft.png) center left no-repeat;
}

.main h2 {
   font-size: 32px;
   font-weight: 500;
   position: relative;
}

.main p.author {
   font-style: italic;
   font-size: 90%;
}

.ind {
   padding-left: 2em;
}

.it {
   font-style: italic;
}

.main h3 {
   font-size: 26px;
   font-weight: 500;
   margin-bottom: 5px;
}

.main h4 {
   font-size: 20px;
   font-weight: 400;
}

table.t1 {
   margin-bottom: 20px;
   width: 100%;
}

table.t1 th, td, caption {
   line-height: 1.42857;
   padding: 8px;
   vertical-align: top;
}

table.t1 th, caption {
   color: #ECE9E4;
   background-color: #786B3D;
}

table.t1 caption, tr {
   border-bottom: 1px solid #CCC;
}

.main div aside {
   display: none;
   float: right;
   position: static;
}

aside {
   min-width: 200px;
   height: fit-content;
   margin-top: 25px;
   border: 1px solid #CCC;
   border-radius: 4px;
   padding: 0.5em 1em;
   position: sticky;
   top: 25px;
}

aside p {
   letter-spacing: 1px;
}

aside .toc {
   font-size: 105%;
}

aside .toc div {
   display: inline;
}

aside .toc span {
   position: relative;
   left: 15px;
   bottom: 1px;
}

aside .toc span:hover {
   border-bottom: 1px solid #786B3D;
}

aside .toc span.down {
   display: none;
}

aside .ind {
   padding-left: 1em;
}

aside li {
   list-style-type: none;
}

aside li:hover {
   text-decoration: underline;
}


/* Responsive Styling */
@media (max-width: 1200px) {
   .main {
      max-width: 970px;
   }

   header div {
      max-width: 970px;
   }
}

@media (max-width: 992px) {
   header div {
      max-width: 750px;
   }

   .header {
      margin-bottom: 20px;
   }

   header .top_nav {
      height: 30px;
   }

   .top_nav .home {
      width: 200px;
      padding-top: 10px;
   }

   .top_nav img {
      width: 20px;
      height: 20px;
      padding: 10px;
   }

   .main {
      max-width: 750px;
      grid-template-columns: none;
      border: none;
   }

   .main aside {
      display: none;
   }

   .main div aside {
      display: block;
      position: relative;
      margin: 0 0 1em 1em;
   }
}

@media (max-width: 750px) {
   header {
      height: fit-content;
   }
   
   header div {
      width: 100%;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
   }

   header .header {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   header .header h1 {
      margin-top: 0;
   }

   header .top_nav {
      flex-direction: column;
      height: fit-content;
   }

   .top_nav .home {
      background-color: #FFE68C;
      width: 100%;
      padding: 0;
      display: flex;
   }

   .top_nav .home a {
      margin-left: auto;
      margin-right: auto;
      color: black;
      font-weight: 600;
   }

   .top_nav .main_nav {
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0;
   }

   .top_nav figure {   
      position: relative;
      align-items: center;
      display: flex;
      border-radius: 0;
      background-color: #FFE68C;
      border-bottom: 1px solid #786B3D;
   }

   .top_nav a figure {
      margin: 0;
      border-radius: 0;
      display: none;
   }

   .main_nav a.hamburger figure {
      display: flex;
   }

   .top_nav img {
      display: block;
   }

   .top_nav figcaption {
      padding: 0;
   }

   .top_nav a {
      width: 100%;
      font-size: 25px;
   }

   .top_nav img {
      margin-right: auto;
      width: fit-content;
   }

   .top_nav img:not(.after_img) {
      margin-left: auto;
      margin-right: 0;
   }

   main {
      padding: 0;
   }
   
   .main {
      top: 0;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0;
   }

   .main div aside {
      display: none;
   }

   .main aside {
      display: none;
   }
}