body {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   color: #333;
}

a {
   text-decoration: none;
}

header {
   background-color: #786B3D;
   color: #ECE9E4;
   height: 250px;
   /* border: 1px solid green; */
}

header a {
   color: #ECE9E4;
}

header div {
   position: relative;
   max-width: 1170px;/*>768:750, >992:970, >1200:1170*/
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

header .header {
   display: inline-block;
}

header .header h1 {
   font-size: 36px;
   letter-spacing: 1px;
   font-weight: 500;
   margin-top: 20px;
   margin-bottom: 0;
}

header .header h2 {
   text-align: center;
   font-size: 14px;
   letter-spacing: 2px;
   font-weight: 500;
   line-height: 1.1;
   margin-bottom: 0;
}

header .top_nav {
   height: 60px;
   /* padding-top: 20px; */
   font-size: 18px;
   line-height: 20px;
   display: flex;
   justify-content: space-between;
   /* border: 1px solid green; */
}

.top_nav .home {
   width: 200px;
   padding-top: 30px;
   /* border: 1px solid orange; */
}

.top_nav .main_nav {
   align-self: center;
   background-color: #FFE68C;
   border-radius: 30px;
   /* border: 1px solid orange; */
}

.top_nav .main_nav a figure {
   margin: 0 5px;
   position: relative;
   /* translate: 0 -15px; */
   align-items: center;
   display: flex;
   border-radius: 30px;
   background-color: #FFE68C;
   /* box-shadow: 0 2px 4px 1px rgba(0,0,0,.2); */
   /* border: 1px solid orange; */
}

.main_nav img {
   width: 40px;
   height: 30px;
   padding: 10px;
   /* border: 1px solid green; */
}

.top_nav figcaption {
   /* text-align: center; */
   /* align-self: center; */
   /* padding-left: 5px; */
   color: black;
   font-weight: 600;
   padding-right: 5px;
   /* border: 1px solid green; */
   /* display: none; */
}

.top_nav figure:hover {
   transition: all 0.25s linear;
   transform: scale(0.9) translateY(-5px);
}

.top_nav figure:hover figcaption {
   transition: all 1s linear;
   /* display: block; */
}

nav.main_nav {
   display: flex;
   justify-content: space-around;
}

main {
   background-color: #FFFDF1;
}

.main {
   background-color: white;
   box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
   position: relative;
   top: -110px;
   border-radius: 4px;
   padding-bottom: 15px;
   max-width: 1170px;/*>768:750, >992:970, >1200:1170*/
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   /* height: 500px; */
   display: grid;
   grid-template-columns: 5fr 2fr;
   grid-gap: 1em;
}

.main h1 {
   font-size: 32px;
   border-bottom: 3px solid #786B3D;
   margin: 15px 0 1em 0;
   padding: 0;
   line-height: 1.25em;
   font-weight: 500;
}

.main h1 span {
   background: url(images/border_theme_left.png) bottom left no-repeat, url(images/border_theme_right.png) bottom right no-repeat, url(images/border_theme_center.png) bottom left repeat-x;
   display: inline-block;
   line-height: 1.25em;
   height: calc(1.25em + 8px);
   margin-bottom: -8px;
   padding-right: 3px;
}

.main h2 {
   font-size: 32px;
   font-weight: 500;
}

.main p.author {
   font-style: italic;
   font-size: 90%;
}

.ind {
   padding-left: 2em;
}

.main h3 {
   font-size: 26px;
   font-weight: 500;
}

table.t1 {
   margin-bottom: 20px;
}

table.t1 th, td {
   line-height: 1.42857;
   padding: 8px;
   vertical-align: top;
}

table.t1 th {
   color: #ECE9E4;
   background-color: #786B3D;
}

table.t1 tr {
   border-bottom: 1px solid #CCC;
}

aside {
   min-width: 200px;
   height: fit-content;
   margin-top: 54px;
   border: 1px solid #CCC;
   border-radius: 4px;
   padding: 0.5em 1em;
   position: sticky;
   top: 25px;
}

aside p {
   letter-spacing: 1px;
}

aside .toc {
   font-size: 105%;
}
aside .toc div {
   display: inline;
}

aside .toc span {
   position: relative;
   left: 15px;
   bottom: 1px;
}

aside .toc span.down {
   display: none;
}

aside .ind {
   padding-left: 1em;
}

aside a {
   color: #786B3D;
}
